@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200&family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
}

body {
  background-color: rgba(204, 204, 204, 0.685);
}


